 body {
    background-color: #86cb27;
    /* text-align: center;   */
    font-family: sans-serif;
    color: white; 
    padding: 2rem 1rem;
} 

 /* img { */
    /* width: 96px; */
    /* height: 96px; */
    /* border-radius: 50%; */
 /* }  */